@import "../../../../../scss/variables";

.filter-block {
  margin-bottom: 3rem;
}

.mat-radio-button {
  font-size: 1.6rem;
  color: $text-color;

  &:not(last-child) {
    margin-right: 3.5rem;
  }
}

::ng-deep {
  .mat-radio-label-content {
    padding-bottom: 2px;
  }
}
