@import "../../../../../scss/variables";

.filter-block {
  margin-bottom: 1.5rem;

}

.mat-radio-button {
  font-size: 1.6rem;
  color: $text-color;
  margin: 1.5rem 0;

  &:not(last-child) {
    margin-right: 3.5rem;
  }
}

::ng-deep {
  .mat-radio-label-content {
    padding-bottom: 1px;
  }
}
