@import 'variables';
@import 'mixin';

html {
  font-size: 62.5%;
  height: 100%;

  @include media-max-screen($mobile) {
    font-size: 55%;
  }
}
html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  font: $base-font-size / 1.4 $base-font;
  letter-spacing: .8px;
  color: $text-color;
  margin: 0;
  * {
    box-sizing: border-box;
  }

  @include media-max-screen($mobile) {
    font-size: $mobile-font-size;
  }
}

button,
.mat-table {
  font-family: $base-font;
}

a {
  color: $text-color;
  letter-spacing: .8px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  @include media-max-screen($mobile) {
    &:focus,
    &:active {
      outline: none;
    }
  }
}

button {
  letter-spacing: .8px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

a, button {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}
